{% extends 'base.html.twig' %}

{% block title %}Toutes nos annonces !{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-5">
            <h1>Voici les annonces actuellement en ligne !</h1>
        </div>
        <div class="row mt-4">
            {% for ad in ads %}
                {% set url = path('ads_show', {'slug':ad.slug}) %}
                <div class="col-md-4 mt-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            {{ ad.rooms }} chambres, <strong>{{ ad.price }} &euro; /nuit</strong><br>
                            <small>Pas encore noté</small>
                        </div>
                        <a href="{{ url }}">
                            <img src="{{ad.coverImage}}" alt="Image de l'appartement" class="w-100 d-block">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ url }}">
                                    {{ ad.title }}
                                </a>

                            </h4>
                            <p class="card-text">{{ ad.introduction }}
                            </p>
                            <a href="{{ url }}" class="btn btn-primary">En savoir plus !</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
