{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle annonce</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer la nouvelle annonce</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block _ad_images_widget %}
    <p>Ici vous pouvez ajouter vos propres images !</p>
    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>
{% endblock %}

{% block _ad_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _ad_images_entry_widget %}

    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
<script>
    // J'écoute les événements click sur le bouton add-image
    $('#add-image').click(function(){
        // Je récupère le compte des widgets afin de gérer les index de mes images
        // le + impose à val d'etre un integer et non pas un string permet l'addition du count
        // évite que le compte soit 01 car id 01 ne fonctionnerait pas
        const index = +$('#widgets-counter').val();



        // Je récupère le prototype des entrées, je remplace chaque __name__ par
        // la valeur de index g veut dire plusieurs fois
        const tmpl = $('#ad_images').data('prototype').replace(/__name__/g,index);

        // J'injecte ce code dans la div grace à append
        $('#ad_images').append(tmpl);

        // On ajoute 1 a la valeur de notre widget counter apres la création d'un widget
        $('#widgets-counter').val(index + 1);

        // Je gère le bouton supprimer
        handleDeleteButtons();
    });
    function handleDeleteButtons(){
        $('button[data-action="delete"]').click(function(){
            // This renvoi au bouton sur lequel on click dataset tous les attributs data quelques chose
            // le .target car ici on veut l'attribut data-target
            const target = this.dataset.target;
            // Je supprime la target
            $(target).remove();
        })
    }
    // Bouton supprimer présent dès le chargement de la page
    handleDeleteButtons();
</script>
{% endblock %}